/.RData
/.Rhistory
/.vscode
/abstract
/missing-data

/server

output/consensus/*
!output/consensus/gmm_error1.0_rnd_scl/small_120

/output_old
/notes
notes/09-05-2024.md
vnc.txt
/presentation
/diagram
/archive

# data
data/phylogenetic_distance_matrix_BGCI_full.arrow
data/Estimated_trait_table_with_monos.csv